language: julia
julia:
  - nightly
  - 1.6
  - 1.5
  - 1.4

matrix:
  fast_finish: true
  allow_failures:
    - julia: nightly

branches:
  only:
    - master
    - dev
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/