#documenter .docs-sidebar{
    /* background-color: #023572 */
    background-color: white;
    border-right: 4px solid #023572;
}

#documenter .docs-sidebar .docs-logo > img {
    max-height: 10rem;
}
